node_modules
ssh/*.pub
ssh/*.key
ssh/*id_rsa*
ssh/gamebot-backup.zip
*.log
state/*.json
tokens.json
gamebot.env
.DS_Store
records/resistance/*.json
cron.log
gamebot.zip
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
